<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Projects | Made by: Jester Domingo</title>
</head>
<body>
    <%- include('partial/navigation') %>
    <!--HEADER TEXT-->
        <div class="header-text-div">
        <h1 class="display-1 text-center">Projects</h1>
        <h1 class="display-5 text-center p-2">These are the projects i have made over the years.</h1>
        </div>
        <!--END OF HEADER TEXT-->
    <!--CARDS-->
    <div class="row row-cols-1 row-cols-md-3 g-4 m-5">
        <div class="col">
          <div class="card h-100">
            <img src="/images/language_translator.png" class="card-img-top card_img" alt="">
            <div class="card-body">
              <h5 class="card-title">Language Translator</h5> <!--Language Translator-->
              <p class="card-text">
                This project was made during 2023 as a side-project learning C#.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="/images/password_generatorhtml.png" class="card-img-top card_img" alt=""/>
              <div class="card-body">
                <h5 class="card-title">Password Generator</h5> <!--Password Gen HTML-->
                <p class="card-text">
                  This project was made during 2023 as a side-project, built using HTML, CSS, and JavaScript.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 7 days ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/images/passgen.png" class="card-img-top card_img" alt=""/>
              <div class="card-body">
                <h5 class="card-title">Password Generator v1.0.0</h5> <!--Password Gen Python-->
                <p class="card-text">
                  This project was made early 2023 as a side-project learning Python.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 5 months ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/images/crypto.png" class="card-img-top card_img" alt=""/>
              <div class="card-body">
                <h5 class="card-title">Crypto Currency Tracker</h5> <!--Crypto Tracker-->
                <p class="card-text">
                    Made during 2021 built in React.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 2 years ago</small>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/RPS.png" class="card-img-top card_img" alt=""/>
            <div class="card-body">
              <h5 class="card-title">Rock Paper Scissors</h5> <!--RPS Web-->
              <p class="card-text">This was made while learning HTML, CSS, and JavaScript.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 years ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/calculator.png" class="card-img-top card_img" alt=""/>
            <div class="card-body">
              <h5 class="card-title">Calculator</h5> <!--Vending <Machine-->
              <p class="card-text">
                Made while learning C#, part of my final project for Semester 2.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 2 months ago</small>
            </div>
          </div>
        </div>
      </div>
      <!--END OF CARDS-->
      <%- include('partial/footer') %>
</body>
</html>