<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services | Jester Domingo</title>
    <link rel="stylesheet" href="css/service_style.css">
</head>
<body>
    <%- include('partial/navigation') %>
    <div class="bg-image" style=" background-image: url('/images/servicebg.jpg'); height: 100vh;">
        <div class="welcome-text-div">
          <h1 class="display-1 text-center white-text">Services</h1>
          <h1 class="display-5 text-center p-2">I offer this services below!</h1>
        </div>
        </div>
    <!--CARDS-->
    <section class="container">
        <section class="card__container">
          <!--==================== SERVICE CARD ====================-->
          <div class="card__bx card__1">
            <div class="card__data">
              <div class="card__icon">
                <div class="card__icon-bx">
                  <i class="fa-solid fa-pen-ruler"></i>
                </div>
              </div>
              <div class="card__content">
                <h3>Design</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
          <div class="card__bx card__2">
            <div class="card__data">
              <div class="card__icon">
                <div class="card__icon-bx"><i class="fa-solid fa-code"></i></div>
              </div>
              <div class="card__content">
                <h3>Development</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
          <div class="card__bx card__3">
            <div class="card__data">
              <div class="card__icon">
                <div class="card__icon-bx"><i class="fa-solid fa-rocket"></i></div>
              </div>
              <div class="card__content">
                <h3>Lauch</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
      
        </section>
      
      </section>
    <!--END OF CARDS-->
    <%- include('partial/footer') %>
</body>
</html>