body{
  background-color: gray;
}

.welcome-text-div{
  padding: 19%;
  padding-top: 18%;
}

.header-text-div{
  padding: 10%;
}

.nav_img{
  width: 5%;
  height: auto;
}

.jumbotron_pad{
  padding: 30px;
}

.card_img{
  width: auto;
  height: 50%;
}

.nav_space{
  padding-right: 40px;
}

.abtme_card{
  margin-left: 45px;
  padding-top: 45px;
}